---
---
.iframe-container{
 position: relative;
 padding-bottom: 56.25%;
 height: 0;
}
    
.iframe-container iframe{
 position: absolute;
 top:0;
 left: 0;
 width: 45%;
 height: 45%;
}

$primary: #72A581;
  // Import Main CSS file from theme
@import "main";
